<ion-header>
  <ion-label>
    <ion-toolbar color="dark">
      <!-- <ion-avatar slot="start">
          <ion-icon size="large" ios="ios-person" md="md-person"></ion-icon>
      </ion-avatar> -->
      <ion-title>
        House
      </ion-title>
      <ion-buttons slot="end">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-label>
</ion-header>

<ion-content>
  <ion-row>
    <ion-col col-6  *ngFor="let f of functionPages">
      <ion-card class="card" [routerLink]="[f.url]">
        <ion-card-header>
          <ion-card-title>
            <ion-icon size="large" ios="ios-person" md="md-person"></ion-icon>
          </ion-card-title>
        </ion-card-header>
        <ion-card-content class="ion-card-content">
         {{f.title}}
        </ion-card-content>
      </ion-card>
    </ion-col>
    <!-- <ion-col>
      <ion-card class="card">
        <ion-card-header>
          <ion-card-title>
            <ion-icon size="large" ios="ios-person" md="md-person"></ion-icon>
          </ion-card-title>
        </ion-card-header>
        <ion-card-content>
        </ion-card-content>
      </ion-card>
    </ion-col> -->
  </ion-row>
  <!-- <ion-row>
    <ion-col offset-4>
      <ion-card class="card">
        <ion-card-header>
          <ion-card-title>
            <ion-icon size="large" ios="ios-person" md="md-person"></ion-icon>
          </ion-card-title>
        </ion-card-header>
        <ion-card-content class="ion-card-content">
         
        </ion-card-content>
      </ion-card>
    </ion-col>
    <ion-col>
      <ion-card class="card">
        <ion-card-header>
          <ion-card-title>
            <ion-icon size="large" ios="ios-person" md="md-person"></ion-icon>
          </ion-card-title>
        </ion-card-header>
        <ion-card-content>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row> -->
</ion-content>

<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="schedule">
      <ion-icon name="calendar"></ion-icon>
      <ion-label>Schedule</ion-label>
      <ion-badge>6</ion-badge>
    </ion-tab-button>

    <ion-tab-button tab="speakers">
      <ion-icon name="contacts"></ion-icon>
      <ion-label>Speakers</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="map">
      <ion-icon name="map"></ion-icon>
      <ion-label>Map</ion-label>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>